* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #81A8DE; /* Light blue background */
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
    background-color: transparent; /* Transparent background */
}

/* Paper (front) */
.paper {
    display: none; /* Hide all pages initially */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
    background-color: transparent; /* Transparent background */
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-content img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the page */
}

/* Controller Buttons (Arrows) */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Arrows outside the book */
#prev-btn {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}

#next-btn {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}
