* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #81A8DE; /* Light blue background */
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
    background-color: transparent; /* Transparent background */
}

/* Paper (front) */
.paper {
    display: none; /* Hide all pages initially */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
    background-color: transparent; /* Transparent background */
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remove border-radius to avoid rounded corners */
.front-content img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the page */
    border-radius: 0; /* No rounded corners */
}

/* Controller Buttons (Arrows) */
button {
    border: none;
    background-color: transparent;
    cursor: pointer
